* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  background-color: #1c1c1c;
  margin: 0;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  width: 80%;
  max-width: 600px;
  background: #1f2937;
  border: 5px solid #10B981;
  border-radius: 20px;
}

.container-intro {
  width: 80%;
  margin: 0 auto;
  line-height: 1.1;
}

.container-flex {
  display:  flex;
  flex-direction: column;
  align-items: center;
}

.container-titles {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  color: #ffffff;
}

.green-title  {
  color: #10B981;
}

h3 {
  margin: 0 0 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  color: #d5d4d8;
}

button  {
  font-family: "Karla", sans-serif;
  margin: 2em 0 0 0;
  font-size: 18px;
  background-color:#10B981;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  transform: scale(1);
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

button:active {
  opacity: 0.8;
}

.container-passwords {
  margin: 40px 0 0 0;
  padding-top: 20.8px;
  border-top: 1px solid #2f3e53;
  width: 60%;
}

.passwords {
  width: 100%;
}

.field-text {
  margin-top: 3px;
  background: #273549;
  border-radius: 6px;
  border: none;
  width: 100%;
  height: 48px;
  padding-top: 14.4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #10B981;
  cursor: pointer;
}

.field-text:hover {
  opacity: 0.6;
}

.copy-msg {
  margin: 1em 0 2em 0;
}


/* Pop-up Text */

.popuptext {
  visibility: hidden;
  font-size: 1rem;
  color: #d5d4d8;
}
.popuptext.show {
  opacity: 0;
  visibility: visible;
  -webkit-animation: fadeinout 1.75s;
  animation: fadeinout 1.75s;
}

@-webkit-keyframes fadeinout {
  50% {
      opacity: 1;
  }
}

@keyframes fadeinout {
  50% {
      opacity: 1;
  }
}

/* Slider */

#password-slider {
  display: block;
  margin: 10px 0 0 0;
}

#password-slider-text {
  font-size: 20px;
  color: #10B981;
  margin: 25px 0 0 0;
}

#sliderNumber {
  font-family: "Karla", sans-serif;
  color: #FFFFFF;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #10B981;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #10B981;
  cursor: pointer;
}

/* Media Query */

@media (min-width: 500px) {
  .container {
      width: 90%;
  }

  .container-titles {
      display: flex;
      flex-direction: column;
      align-items: start;
  }
  .container-intro {
      width: 80%;
      display: flex;
      align-items: flex-start;
      justify-content: start;
  }
  .container-passwords {
      flex-direction: row;
      width: 80%;
  }
  #passwordOne {
      padding-right: 0.25em;
  }
  #passwordTwo {
      padding-left: 0.25em;
  }
}